* {
    margin: 0;
    padding: 0;
    font-family:  Arial, sans-serif;
    box-sizing: border-box;
    
}

.navbar {
    display: flex;

}

.logo i {
    font-size: 37px;
    margin-left: 10%;
    margin-top: 20px;
    color: rgb(70, 69, 69);
    margin-right: 5px;
    cursor: pointer;
}

.logo img {
    height: 100px;
    width: 150px;
    margin-top: -70px;
    margin-left: 20px;
    cursor: pointer;
}

.logo h2 {
    margin-left: 56%;
    margin-top: -67px;
    color: rgb(41, 40, 40);
    font-size: 150%;
    cursor: pointer;
}

.input-box {
    display: flex;
    margin-left: 20%;
}

.input-box input {
    height: 40px;
    width: 380px;
    margin-top: 25px;
    padding: 15px;
    border: 1.2px solid ;
    border-radius: 25px;
    font-size: 17px;
    border-color:   rgb(117, 115, 115);
    ;
}

.input-box i {
    font-size: 35px;
    color:   rgb(58, 56, 56);
    margin-top: 25px;
    margin-left: 10px;
    cursor: pointer;
}

.profile {
    display: flex;
    margin-left: 16%;
}

.profile i {
    color:   rgb(58, 56, 56);
    font-size: 35px;
    margin-top: 25px;
    margin-left: 10px;
    cursor: pointer;
}

.profile img {
    height: 60px;
    width: 60px;
    margin-top: 13px;
    cursor: pointer;

}

.page {
    display: grid;
}


/* left section   */
.left-section {
    margin-top: 1%;
}

.left-section .link-home i {
    color:   rgb(14, 13, 13);
    font-size: 35px;
    margin-top: 25px;
    margin-left: 30px;
    cursor: pointer;

}

.left-section .link-home p {
    margin-left: 28px;
    margin-top: 5px;
    cursor: pointer;
}

.left-section .link-short img {
    height: 70px;
    width: 70px;
    margin-top: 20px;
    margin-left: 15px;
    cursor: pointer;
}

.left-section .link-short p {
    margin-left: 30px;
    margin-top: -10px;
    cursor: pointer;
}

.left-section .link-subscribe img {
    height: 35px;
    width: 35px;
    margin-top: 35px;
    margin-left: 35px;
    cursor: pointer;
}

.left-section .link-subscribe p {
    margin-left: 10px;
    margin-top: 10px;
    cursor: pointer;
}

.left-section .link-user i {
    color:   rgb(32, 32, 32);
    font-size: 45px;
    margin-top: 35px;
    margin-left: 30px;
    cursor: pointer;
}

.left-section .link-user p {
    margin-left: 40px;
    margin-top: 10px;
    cursor: pointer;
}

.buttons {
    font-size: 14px;
    margin-left: 12%;
    margin-top: -400px;
}

.buttons .btn-all {
    height: 4%;
    width: 5%;
    margin-right: 10px;
    font-size: 16px;
    border-radius: 10px;
    color: white;
    background-color: black;
    cursor: pointer;
}

.buttons .btn-js {
    height: 4%;
    font-size: 14px;
    width: 7%;
    margin-right: 10px;
    border: none;
    cursor: pointer;
    border-radius: 10px;
}

.buttons .btn {
    height: 4%;
    font-size: 14px;
    margin-bottom: 20px;
    width: 5%;
    border: none;
    margin-right: 10px;
    cursor: pointer;
    border-radius: 10px;
}

.buttons .btn-arrow {
    height: 4%;
    width: 2%;
    font-size: 15px;
    margin-right: 10px;
    border: none;
    margin-left: -5px;
    cursor: pointer;
    border-radius: 10px;
}

.images img{
    cursor: pointer;
    margin-bottom: 15px;
    margin-top: -15px;
    margin-left: -20px;
    height: 320px;
    width: 97%;
}
.images .screen{
    cursor: pointer;
    margin-left: -15px;
    width: 95%;
}